---
type Props = {
  styles?: string;
};

const { styles } = Astro.props;
---

<h2
  class={`font-header text-center mb-8 text-4xl max-w-[90%] mx-auto md:text-5xl font-semibold ${styles}`}
>
  <slot />
</h2>
