---
import { Button } from "@components/Button";
import {
  ReactSVG,
  TailwindSVG,
  GraphqlSVG,
  NextjsSVG,
  JavaScriptSVG,
  AWSLambdaSVG,
  CypressSVG,
  MongoDBSVG,
  GitSVG,
  JestSVG,
  CloudflareSVG,
  AstroSVG,
  HashnodeSVG,
  NodejsSVG,
  FigmaSVG,
  LinearSVG,
  SQLSVG,
} from "@components/icons/index";
---

<div
  class="group hero-logos relative whitespace-nowrap z-1 max-w-[90vw] mx-auto overflow-hidden"
>
  <div
    class="absolute opacity-0 left-0 right-0 top-0 z-50 bottom-0 m-auto w-44 z-5 inset-0 transition-opacity duration-150 group-hover:opacity-100 flex items-center justify-center"
  >
    <Button variant="transparent-dark" asLink href="/skills"
      >See my skills</Button
    >
  </div>
  <div
    class="hero-carousel inline-block gap-4 opacity-1 transition duration-200"
  >
    <span
      title="JavaScript"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><JavaScriptSVG /></span
    >
    <span
      title="TailwindCSS"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><TailwindSVG /></span
    >
    <span
      title="GraphQL"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><GraphqlSVG /></span
    >
    <span
      title="React"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><ReactSVG /></span
    >
    <span
      title="Next.js"
      class="inline-block w-[65px] bg-white mx-6 h-[65px] rounded-full opacity-30"
      ><NextjsSVG /></span
    >
    <span
      title="SQL"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><SQLSVG /></span
    >
    <span
      title="AWS Lambda"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><AWSLambdaSVG /></span
    >
    <span
      title="MongoDB"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><MongoDBSVG /></span
    >
    <span
      title="Git"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><GitSVG /></span
    >
    <span
      title="Jest"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><JestSVG /></span
    >
    <span
      title="Cypress"
      class="inline-block w-[65px] bg-white mx-6 h-[65px] rounded-full opacity-30"
      ><CypressSVG /></span
    >
    <span
      title="Cloudflare"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><CloudflareSVG /></span
    >
    <span
      title="Astro"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><AstroSVG /></span
    >
    <span
      title="Hashnode"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><HashnodeSVG /></span
    >
    <span
      title="Node.js"
      class="inline-block w-[65px] bg-white mx-6 h-[65px] rounded-full opacity-30"
      ><NodejsSVG /></span
    >
    <span
      title="Figma"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><FigmaSVG /></span
    >
    <span
      title="Linear"
      class="inline-block w-[65px] bg-white mx-6 h-[65px] rounded-full opacity-30"
      ><LinearSVG /></span
    >
  </div>
  <div class="hero-carousel inline-block opacity-1 transition duration-200">
    <span
      title="JavaScript"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><JavaScriptSVG /></span
    >
    <span
      title="TailwindCSS"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><TailwindSVG /></span
    >
    <span
      title="GraphQL"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><GraphqlSVG /></span
    >
    <span
      title="React"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><ReactSVG /></span
    >
    <span
      title="Next.js"
      class="inline-block w-[65px] bg-white mx-6 h-[65px] rounded-full opacity-30"
      ><NextjsSVG /></span
    >
    <span
      title="SQL"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><SQLSVG /></span
    >
    <span
      title="AWS Lambda"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><AWSLambdaSVG /></span
    >
    <span
      title="MongoDB"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><MongoDBSVG /></span
    >
    <span
      title="JavaScript"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><GitSVG /></span
    >
    <span
      title="Jest"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><JestSVG /></span
    >
    <span
      title="Cypress"
      class="inline-block w-[65px] bg-white mx-6 h-[65px] rounded-full opacity-30"
      ><CypressSVG /></span
    >
    <span
      title="Cloudflare"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><CloudflareSVG /></span
    >
    <span
      title="Astro"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><AstroSVG /></span
    >
    <span
      title="Hashnode"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><HashnodeSVG /></span
    >
    <span
      title="Node.js"
      class="inline-block w-[65px] bg-white mx-6 h-[65px] rounded-full opacity-30"
      ><NodejsSVG /></span
    >
    <span
      title="Figma"
      class="inline-block w-[65px] mx-6 h-[65px] rounded-full opacity-30"
      ><FigmaSVG /></span
    >
    <span
      title="Linear"
      class="inline-block w-[65px] bg-white mx-6 h-[65px] rounded-full opacity-30"
      ><LinearSVG /></span
    >
  </div>
</div>
