---
interface Props {
  title: string;
  isDark?: boolean;
}

const { title, isDark } = Astro.props;
---

<span
  title={title}
  class={`place-self-center w-[70px] h-[70px] rounded-full ${isDark ? "bg-white" : "bg-[#100114]"} p-3 md:w-20 md:h-20 opacity-100 lg:opacity-95 transform transition-all duration-150 hover:scale-105 hover:opacity-100`}
>
  <slot />
</span>
