---
import { getCollection, render } from 'astro:content';
import Layout from '@shared/layouts/Layout.astro';
import Prose from '@features/blog/components/Prose.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.seoDescription}>
	<div class="mx-auto mt-24 max-w-screen-md py-8">
		<h1 class="text-center text-5xl font-semibold">{post.data.title}</h1>
		<Prose>
			<Content />
		</Prose>
	</div>
</Layout>
