---
import { testimonials } from '@config/consts';
import TestimonialCard from '@features/testimonials/components/TestimonialCard.astro';
---

<div class="grid grid-cols-1 gap-4 md:grid-flow-row-dense md:grid-cols-6">
	<TestimonialCard cardStyles="col-span-full lg:col-span-3" {...testimonials[0]} />
	<TestimonialCard cardStyles="col-span-full lg:col-span-3 lg:row-span-2" {...testimonials[1]} />
	<TestimonialCard cardStyles="col-span-full lg:col-span-3 lg:row-span-1" {...testimonials[2]} />
	<TestimonialCard cardStyles="col-span-full lg:col-span-3" {...testimonials[3]} />
	<TestimonialCard cardStyles="col-span-full lg:col-span-3" {...testimonials[4]} />
</div>
