---
import { Icon } from 'astro-icon/components';
import ActionItem from '@shared/components/base/ActionItem.astro';

interface Props {
	href: string;
	label: string;
	iconName: string;
}

const { href, label, iconName } = Astro.props;
---

<ActionItem
	as="a"
	{href}
	target="_blank"
	rel="noreferrer"
	aria-label={label}
	class="group flex items-center gap-1 rounded-md text-zinc-600 outline-none hover:text-zinc-900 dark:text-zinc-200 dark:hover:text-zinc-50"
>
	<span class="hidden md:block">{label}</span>
	<span class="md:hidden"><Icon name={iconName} width="20" height="20" /></span>
</ActionItem>
