@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 @font-face {
  font-family: 'Junegull-Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/junegull.woff') format('woff2');
  }

  @font-face {
    font-family: "Quicksand";
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Quicksand-Regular.woff2') format('woff2')
  }
  @font-face {
    font-family: "Quicksand";
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Quicksand-Medium.woff2') format('woff2')
  }

  .hero-bg {
    background: linear-gradient(35deg, #6B7FD7,  #7c3aed, #1c8a72, #6B7FD7);
    background-size: 600% 600%;

    -webkit-animation: wave 7s ease infinite;
    -moz-animation: wave 7s ease infinite;
    animation: wave 7s ease infinite;
  }

    @-webkit-keyframes wave {
        0%{background-position:90% 0%}
        50%{background-position:11% 100%}
        100%{background-position:90% 0%}
    }
    @-moz-keyframes wave {
        0%{background-position:90% 0%}
        50%{background-position:11% 100%}
        100%{background-position:90% 0%}
    }
    @keyframes wave {
        0%{background-position:90% 0%}
        50%{background-position:11% 100%}
        100%{background-position:90% 0%}
  }

  @keyframes carousel {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .hero-carousel {
    animation: carousel 40s linear infinite normal none running;
  }

 .hero-logos:hover .hero-carousel {
  animation-play-state: paused;
 }

 .hero-logos:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: red;
  z-index: 2;
  background: linear-gradient(to left, transparent, #100114);
 }

 .hero-logos:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to right, transparent, #100114);
  z-index: 2;
 }

 .link-focus {
   @apply outline-none focus:ring dark:focus:ring-offset-gray-900 focus:ring-offset-4 focus:ring-l-secondary dark:focus:ring-d-tertiary-2
 }
 .icon-button-hover {
   @apply hover:bg-opacity-25 dark:hover:bg-opacity-25 hover:bg-l-tertiary-2 dark:hover:bg-d-primary-dark
 }

 .timeline-card {
  @apply opacity-0 transition-opacity duration-700;
 }

 .timeline-date:has(+ * + .timeline-card:hover) {
  @apply text-l-tertiary-2;
 }

 .floating-social-bar {
  @apply opacity-100 transition-opacity duration-300;
 }

 .show {
  @apply opacity-100;
 }

 .hide {
  @apply opacity-0;
 }
}