@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 @font-face {
  font-family: 'Junegull-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/junegull.woff') format('woff2');
  }

 .link-focus {
   @apply outline-none focus:ring dark:focus:ring-offset-gray-900 focus:ring-offset-4 focus:ring-l-secondary dark:focus:ring-d-tertiary-2
 }
 .icon-button-hover {
   @apply hover:bg-opacity-25 dark:hover:bg-opacity-25 hover:bg-l-tertiary-2 dark:hover:bg-d-primary-dark
 }

 .timeline-card {
  @apply opacity-0 transition-opacity duration-300;
 }

 .timeline-date:has(+ * + .timeline-card:hover) {
  @apply text-l-tertiary-2;
 }

 .show {
  @apply opacity-100;
 }
}