---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<details
  class="rounded-xl py-4 px-6 max-w-[680px] mx-auto w-full border dark:border-slate-800 transform transition-transform cursor-pointer duration-500 hover:scale-105"
>
  <summary
    class="flex flex-col md:flex-row md:items-center gap-4 md:justify-between font-header text-2xl"
  >
    <span class="">{title}</span>
    <div class="flex flex-row gap-2">
      <slot name="tech" />
    </div>
  </summary>
  <slot name="content" />
</details>
