---
import { MainNavLinks } from "./MainNavLinks";

const pathname = new URL(Astro.request.url).pathname;
---

<nav class="flex flex-col items-center md:flex-row gap-12">
  <MainNavLinks client:load pathname={pathname} />
</nav>
