---
import { Button } from "@components/base/Button";
import { ArrowUpSVG } from "@components/icons";
---

<Button
  client:load
  className="z-[100] fixed bottom-[2%] right-[5%] lg:right-24"
  variant="transparent"
  asLink
  href="#"
  iconAnimationSettings={{ y: 4 }}
  childrenIsIcon
  startIcon={null}
  endIcon={null}
  aria-label="Jump to the top of the page"
>
  <span class="block w-4 h-4 text-white">
    <ArrowUpSVG />
  </span>
</Button>
