---
import { FastArrowUp } from "iconoir-react";
---

<a
  href="#"
  class="z-1 fixed bottom-6 right-6 lg:right-24 gap-x-2 w-max py-1.5 px-6 bg-white dark:bg-[#100114] text-l-primary-darkest dark:text-white border-l-primary-dark dark:border-d-tertiary-2 border-2 rounded-full"
>
  <FastArrowUp width={16} height={16} />
</a>
