---
import { Button } from "../Button";
import { ArrowUp } from "iconoir-react";
---

<Button
  client:load
  className="z-1 fixed bottom-6 right-6 lg:right-24"
  variant="transparent"
  asLink
  href="#"
  iconAnimationSettings={{ y: 4 }}
  childrenIsIcon
  startIcon={null}
  endIcon={null}
>
  <ArrowUp width={16} height={16} />
</Button>
