@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@layer base {
	@font-face {
		font-family: 'Lato';
		src: url('/fonts/Lato/Lato-Regular.ttf');
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Lato';
		src: url('/fonts/Lato/Lato-Bold.ttf');
		font-weight: bold;
		font-display: swap;
	}
	@font-face {
		font-family: 'Barlow';
		src: url('/fonts/Barlow/Barlow-Regular.ttf');
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Barlow';
		src: url('/fonts/Barlow/Barlow-Bold.ttf');
		font-weight: bold;
		font-display: swap;
	}
	@font-face {
		font-family: 'Barlow';
		src: url('/fonts/Barlow/Barlow-SemiBold.ttf');
		font-weight: 600;
		font-display: swap;
	}
	@font-face {
		font-family: 'Barlow';
		src: url('/fonts/Barlow/Barlow-Medium.ttf');
		font-weight: 500;
		font-display: swap;
	}

	.link-focus {
		@apply outline-none focus-visible:ring focus-visible:ring-accent-darkest focus-visible:ring-offset-2 dark:focus-visible:ring-accent-brightest dark:focus-visible:ring-offset-zinc-900 !important;
	}
	.card-hover {
		@apply outline-none ring-offset-0 transition-all duration-300 hover:ring hover:ring-accent-darkest hover:ring-offset-2 dark:hover:ring-accent-brightest dark:hover:ring-offset-2 dark:hover:ring-offset-zinc-900 !important;
	}

	.icon-button-hover {
		@apply ring-offset-2 hover:ring hover:ring-accent-darkest dark:hover:ring-accent-brightest dark:hover:ring-offset-zinc-900 !important;
	}
}
