---
import Layout from "../layouts/Layout.astro";
import { Code } from "astro-expressive-code/components";
import { SocialLinkFloatingBar } from "../components/navigation/SocialLinkFloatingBar";
import PageTitle from "../layouts/PageTitle.astro";

export const exampleCode = `
const isVisitorStillReading = true;

if (isVisitorStillReading) {
  return (
    "That's the sales pitch out the way, more about me."
  )
}
`;
---

<Layout
  title="About me | Kieran Roberts"
  description="My name is Kieran and I'm a Software developer for the web with multiple years wortth of experience. Come and find out more about me here."
  url="kieranroberts.dev/about"
>
  <main class="px-8 md:px-16 py-16 w-full flex flex-col">
    <PageTitle>Hi! My name is Kieran</PageTitle>
    <section class="flex flex-col gap-y-8 justify-center max-w-[650px] mx-auto">
      <p>
        I love building fast, accessible and slick websites for the modern web.
        With multiple years worth of industry experience and expertise in many
        modern web technologies, I'm always striving to build!
      </p>
      <div
        class="max-w-[400px] sm:max-w-[600px] md:max-w-[800px] mx-auto overflow-hidden"
      >
        <Code
          code={exampleCode}
          lang="tsx"
          wrap
          frame="code"
          title="Thanks for visiting!"
        />
      </div>
      <h2 class="text-2xl underline underline-offset-[10px]">Get to know me</h2>
      <p>Born in Wales, UK 🏴󠁧󠁢󠁷󠁬󠁳󠁿, I'm now currently based in Ireland 🇮🇪.</p>
      <p>
        Four years ago I started my journey into software engineering when I
        decided to change career paths. As a university graduate with a Masters
        degree in Electronic Engineering, I decided it was no longer my passion
        and spent more than a year teaching myself to code.
      </p>
      <p>
        Fast forward to today and I absolutely love what I do. Outside of
        software development I love to go hiking and travelling when possible,
        and a big sports as well. I'm currently teaching myself to play guitar
        and love to cook and try new foods.
      </p>
      <p>
        For now, if you want to get in touch with me you can find me at one of
        the many social links I've shared.
      </p>
      <!-- <p>
        If you're interested in hearing more about my skills, experience, and
        what I'm currently working on, follow me to the <a
          href="/skills-and-experience"
          class="text-l-secondary dark:text-d-secondary"
          >skills and experience page</a
        >.
      </p> -->
      <p>Nice to meet you!</p>
    </section>
  </main>
  <SocialLinkFloatingBar client:load />
</Layout>
