---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About me | Kieran Roberts"
  description="My name is Kieran and I'm a React web developer with multiple years wortth of experience. Come and find out more about me here."
  url="kieranroberts.dev/about"
>
  <main
    class="text-center h-[75vh] w-full flex flex-col items-center justify-center"
  >
    <h1>About me</h1>
  </main>
</Layout>
