---
import Layout from "@layouts/Layout.astro";
---

<Layout
 title="Contact me | Kieran Roberts"
 description="Want to work with me, great! Get in touch with me using the contact form here."
 url="kieranroberts.dev/contact"
>
 <main
  class="text-center h-[80vh] w-full flex flex-col items-center justify-center"
 >
  <h1>Contact me</h1>
 </main>
</Layout>
