---
import Layout from "@layouts/Layout.astro";
import { ContactForm } from "@components/forms/ContactForm";
import PageTitle from "@layouts/PageTitle.astro";
import { SocialLinks } from "@components/navigation/SocialLinkFloatingBar";
---

<Layout
  title="Contact me | Kieran Roberts"
  description="Want to work with me, great! Get in touch with me using the contact form here."
  url="kieranroberts.dev/contact"
>
  <main id="main" class="px-8 md:px-16 py-16 w-full flex flex-col">
    <PageTitle>Get in touch with me</PageTitle>
    <section class="flex flex-col gap-y-8 justify-center max-w-[650px] mx-auto">
      <div class="flex flex-row justify-center items-center gap-4">
        <SocialLinks client:load />
      </div>
      <p class="prose text-center dark:prose-invert sm:prose-lg">
        Want to ask me a question, collaborate with me, or get in touch for any
        other reason. Share it below and I'll do my best to get back to you
        within the same day. Alternatively you can find me at one of the social
        links provided.
      </p>
      <ContactForm client:load />
    </section>
  </main>
</Layout>
