---
import Layout from "@layouts/Layout.astro";
import { DOMAIN_NAME } from "@consts/urls";

import { Hero } from "@modules/landing/Hero";
---

<Layout url={DOMAIN_NAME} showFooter={false}>
  <main id="main" class="dark:bg-[#100114] w-full max-w-[1600px] mx-auto">
    <Hero client:load />
  </main>
</Layout>
