---
import Layout from "@layouts/Layout.astro";
---

<Layout>
	<main
		class="text-center h-[80vh] w-full flex flex-col items-center justify-center"
	>
		<h1 class="max-w-screen-sm md:max-w-3xl px-8 text-3xl md:text-5xl font-bold">
			<span class="text-[0.9em] text-purple-400">Kieran Roberts.</span>
			<span class="">Web developer.</span>
			<span class="text-[0.6em]">Builder.</span>
			<span class="text-[0.8em]">Proffessional.</span>
			<span class="">Experienced.</span>
			<span class="text-[0.5em]">Self motivated.</span>
			<span class="text-[0.9em]">Team player.</span>
			<span class="text-[0.6em]">Communicative.</span>
		</h1>
		<a
			href="/contact"
			class="mt-8 border rounded-2xl bg-purple-600 text-white font-medium px-6 py-2.5"
			>Work with me</a
		>
	</main>
</Layout>
