---
import Layout from "@layouts/Layout.astro";
---

<Layout url="kieranroberts.dev" showFooter={false}>
  <main
    id="main"
    class="flex items-center justify-center dark:bg-[#100114] max-w-[1600px] h-[80vh] mx-auto"
  >
    <h1 class="text-lg md:text-2xl text-center font-medium">
      New landing page coming soon...
    </h1>
  </main>
</Layout>
