---
import Layout from "@layouts/Layout.astro";

const title = "Kieran Roberts | Software Developer";
const description = "Description";
---

<Layout title={title} description={description} url="kieranroberts.dev">
	<main class="h-screen w-full flex flex-col items-center justify-center">
		<h1 class="text-xl">Kieran Roberts | Sofware Developer</h1>

		<a href="https://blog.kieranroberts.dev" class="text-base text-blue-600"
			>blog.kieranroberts.dev</a
		>

		<p class="mt-8">More to come...</p>
	</main>
</Layout>
