---
import Layout from "../layouts/Layout.astro";
import { SocialLinkFloatingBar } from "../components/navigation/SocialLinkFloatingBar";
---

<Layout showFooter={false}>
  <main class="">
    <div class="flex flex-col items-center gap-y-12 py-20 px-4">
      <h1
        class="font-header text-4xl capitalize lg:text-5xl font-normal text-center mx-auto max-w-[550px] lg:max-w-[70%]"
      >
        <span class="text-[1.3em]">full stack javaScript,</span><br />
        <span class="text-[1.1em] text-l-secondary dark:text-d-secondary"
          >UI/UX specialist,</span
        ><br />
        <span class="text-[0.9em] text-[#3cc708] dark:text-l-tertiary-2"
          >all-round builder</span
        >
      </h1>

      <p class="tracking-wide text-xl max-w-[75%] mx-auto lg:mx-0 text-center">
        I build fast, accessible, and well tested sites for the modern web.
      </p>
    </div>
    <div class="w-max rounded-full mx-auto">
      <img src="/src/images/Kieran-Avatar-funky.png" width="250" height="250" />
    </div>
    <SocialLinkFloatingBar client:load />
  </main>
</Layout>
