---
import Layout from "@layouts/Layout.astro";
import { DOMAIN_NAME } from "@consts/urls";

import Hero from "@modules/landing/Hero.astro";
---

<Layout url={DOMAIN_NAME} showFooter={true}>
  <main id="main" class="w-full max-w-[1600px] mx-auto">
    <Hero />
  </main>
</Layout>
