---
import Layout from "@layouts/Layout.astro";
import { SocialLinkFloatingBar } from "@components/navigation/SocialLinkFloatingBar";
import PageTitle from "@layouts/PageTitle.astro";
import EndOfFeed from "@components/blog/EndOfFeed.astro";
import TechIconWrapper from "@components/skills/TechIconWrapper.astro";
import SkillsCard from "@components/skills/SkillsCard.astro";
import { Code } from "astro-expressive-code/components";
import { landingPageCodeDesktopExample } from "@utils/code";
import {
  ReactSVG,
  TailwindSVG,
  GraphqlSVG,
  NextjsSVG,
  JavaScriptSVG,
  AWSLambdaSVG,
  CypressSVG,
  MongoDBSVG,
  GitSVG,
  JestSVG,
  CloudflareSVG,
  AstroSVG,
  HashnodeSVG,
  NodejsSVG,
  FigmaSVG,
  LinearSVG,
} from "@components/icons/index";
---

<Layout
  title="Skills & Experience | Kieran Roberts"
  description="My name is Kieran and I'm a JavaScript developer with multiple years worth of experience. Come check out my skills here."
  url="kieranroberts.dev/skills"
>
  <main class="px-8 md:px-16 py-16 w-full flex flex-col">
    <PageTitle>My skills and experience</PageTitle>
    <div class="max-w-[1000px] mx-auto">
      <section class="mb-16">
        <div
          class="prose text-xl text-center italic font-medium dark:prose-invert"
        >
          <p class="font-medium">
            I absolutely love learning new things, it's one of my favorite parts
            of life. It's probably the reason I took to the crazy ever changing
            field of web development. Here is everything you might want to know
            about my technical skills, and generally what I bring to the table.
          </p>
        </div>
      </section>
      <h2 class="font-header text-4xl text-left my-12">Technical skills</h2>
      <section class="flex flex-col gap-8">
        <SkillsCard title="Frontend UI/UX">
          <Fragment slot="tech">
            <TechIconWrapper title="JavaScript"
              ><JavaScriptSVG /></TechIconWrapper
            >
            <TechIconWrapper title="React"><ReactSVG /></TechIconWrapper>

            <TechIconWrapper title="TailwindCSS"
              ><TailwindSVG /></TechIconWrapper
            >
            <TechIconWrapper title="Astro"><AstroSVG /></TechIconWrapper>
            <TechIconWrapper title="Figma"><FigmaSVG /></TechIconWrapper>
          </Fragment>
          <div slot="content" class="prose dark:prose-invert text-lg mt-6">
            <p>
              My speciality is highly interactive, responsive, and accessible
              UI/UX. Having worked closely with design teams and product
              managers, I have developed a keen eye for a smooth user
              experience.
            </p>

            <h3>Example</h3>
            <p>
              Take the main navigation header on site as an example. As you
              scroll down the nav hides itself, but imediately comes into view
              when you scroll back up. This was designed to offer the following
              user experience:
            </p>
            <ul>
              <li>
                Removing itself from view offers the full screen to view
                content. Important for a site focused around reading content.
              </li>
              <li>
                The navigation links and nav items are never far away, no need
                to scroll back to the top of the page. Especially benefical if
                say you had a 'Follow' button in the navbar. You make it easier
                for users to perform those actions thus generating more userr
                interactions for the site.
              </li>
              <li>
                The movement of the navbar is also optional providing an
                accessible solution, if a user has set a prefers reduce motion
                option in their system to true, the navbar will remain fixed to
                the top offering an accessible solution for all.
              </li>
              <div
                class="hidden my-8 md:block sm:max-w-[550px] mx-auto overflow-hidden"
              >
                <Code
                  code={landingPageCodeDesktopExample}
                  lang="tsx"
                  wrap
                  frame="code"
                  title="Accessiblity is key"
                />
              </div>
            </ul>
          </div>
        </SkillsCard>
        <SkillsCard title="Serverless backend">
          <Fragment slot="tech">
            <div class="bg-white dark:bg-white p-[0.5] rounded-full">
              <TechIconWrapper title="Next.JS"><NextjsSVG /></TechIconWrapper>
            </div>

            <TechIconWrapper title="AWS Lambda"
              ><AWSLambdaSVG /></TechIconWrapper
            >
            <TechIconWrapper title="MongoDB"><MongoDBSVG /></TechIconWrapper>
            <TechIconWrapper title="Cloudflare"
              ><CloudflareSVG /></TechIconWrapper
            >
          </Fragment>
          <div slot="content" class="prose dark:prose-invert text-lg mt-6">
            <p>
              I have experience working in tech stacks benefitting serverless
              offerings utilizing infrastructure such <span class="font-medium"
                >Amazon Web Services (AWS)</span
              >,
              <span class="font-medium">Vercel</span>, and <span
                class="font-medium">Cloudflare</span
              >.
            </p>
            <p>
              Check out this video where I talk about how I implemented the
              contact form on this site using <span class="font-medium"
                >AWS Lambda</span
              >, <span class="font-medium">AWS API Gateway</span>, <span
                class="font-medium">AWS SMS</span
              > and <span class="font-medium">Clourdflare Turnstile</span>.
            </p>
            <div style="position: relative; padding-bottom: 56.25%; height: 0;">
              <iframe
                src="https://www.loom.com/embed/55eed9b7de8e42f29db3cae6b7fa9aa8?sid=ec1dfea9-37c5-47fd-92a9-0492816d64f5"
                allowfullscreen
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
              ></iframe>
            </div>
          </div>
        </SkillsCard>
        <SkillsCard title="Testing tools">
          <Fragment slot="tech">
            <div class="bg-white dark:bg-white p-[0.5] rounded-full">
              <TechIconWrapper title="Cypress"><CypressSVG /></TechIconWrapper>
            </div>

            <TechIconWrapper title="Jest"><JestSVG /></TechIconWrapper>
          </Fragment>
          <div slot="content" class="prose dark:prose-invert text-lg mt-6">
            <p>
              Testing is a critical part of software development and I've
              managed to aquire experience with different forms of
              product/backend testing and tools. For example:
            </p>
            <ul>
              <li>
                Product end to end (E2E) testing with <span class="font-medium"
                  >Cypress</span
                > in both local environments and in <span class="font-medium"
                  >Continous Integration (CI)</span
                > environments primarily with <span class="font-medium"
                  >GitHub Actions</span
                >.
              </li>
              <li>
                Unit testing in both product frontend and API and infrastructure
                based backends primariy with <span class="font-medium"
                  >Jest</span
                >
              </li>
            </ul>
          </div>
        </SkillsCard>
        <SkillsCard title="API's & Databases">
          <Fragment slot="tech">
            <TechIconWrapper title="NodeJS"><NodejsSVG /></TechIconWrapper>
            <TechIconWrapper title="MongoDB"><MongoDBSVG /></TechIconWrapper>

            <TechIconWrapper title="GraphQL"><GraphqlSVG /></TechIconWrapper>
          </Fragment>
          <div slot="content" class="prose dark:prose-invert text-lg mt-6">
            <p>
              I have experience developing both public and internal API's,
              interacting with databases such as <span>MongoDB</span> on a regular
              basis.
            </p>
            <h3>Example</h3>
            <p>
              Check out the <a
                target="_blank"
                rel="noreferrer"
                href="https://gql.hashnode.com/"
                aria-label="Hashnode public GraphQL API, opens in new tab"
                class="font-medium text-l-secondary"
                >Hashnode public GraphQL API</a
              > which offers an expanding range of quries and mutations. I have had
              the opportunity to build some of the mutations on offer here.
            </p>
          </div>
        </SkillsCard>
        <!-- <SkillsCard title="Issue crafting and product planning">
          <Fragment slot="tech">
        
              <TechIconWrapper><CypressSVG /></TechIconWrapper>
       
            <TechIconWrapper><JestSVG /></TechIconWrapper>
          </Fragment>
          <div slot="content" class="prose dark:prose-invert text-lg mt-6">
            <p>
              Testing is a critical part of software development. I've managed
              to aquire experience in the following: like unit testing GraphQL
              mutations, End to end (E2E) testing parts of the frontend, or
              anything in betweemd
            </p>
            <ul>
              <li>Fronted end to end (E2E) with Cypress</li>
              <li>Setting up tests for CI environment with GitHub Actions</li>
              <li>
                Unit testing in both frontend and backend, for example unit
                testing GraphQL mutations.
              </li>
            </ul>
          </div>
        </SkillsCard> -->
      </section>
      <h2 class="font-header text-4xl text-left my-12">Soft Skills</h2>
      <section class="flex flex-col gap-8">
        <SkillsCard title="Communication">
          <!-- <Fragment slot="tech">
  
              <TechIconWrapper><ReactSVG /></TechIconWrapper>
 
            <TechIconWrapper><TailwindSVG /></TechIconWrapper>
            <TechIconWrapper><AstroSVG /></TechIconWrapper>
            <TechIconWrapper><FigmaSVG /></TechIconWrapper>
          </Fragment> -->
          <div slot="content" class="prose dark:prose-invert text-lg mt-6">
            <p>
              If there's one thing my experience working remotely has taught me,
              is that communication is king. As part of a fully remote team at a
              fast moving startup, if you didn't communicate well you'd be left
              behind.
            </p>
            <ul>
              <li>
                I like to keep things simple and straight to the point. Clear
                and concise.
              </li>
              <li>
                Ask questions often and early on to avoid issues down the line.
              </li>
              <li>Better to over communicate than under communicate.</li>
              <li>
                Writing articles has helped develop my text communication which
                is critical when working for a fully async remote team.
              </li>
            </ul>
          </div>
        </SkillsCard>
        <SkillsCard title="Code reviews">
          <Fragment slot="tech">
            <TechIconWrapper title="Git"><GitSVG /></TechIconWrapper>
          </Fragment>
          <div slot="content" class="prose dark:prose-invert text-lg mt-6">
            <p>
              To this date I have authored <span class="font-medium"
                >more than 100 pull request reviews</span
              >
              that eventually went live to large userbases. Here are some of the
              things I practice when reviewing code.
            </p>

            <ul>
              <li>
                Understand the expectations before heading in based on what the
                work is.
              </li>
              <li>
                Ask helpful open ended questions and phrase things in a clear
                but friendly tone.
              </li>
              <li>
                Avoid string opinionated statements where possible and suggest
                alternatives.
              </li>
              <li>Be empathetic to the person writing the code.</li>
            </ul>
          </div>
        </SkillsCard>
        <SkillsCard title="Technical writing">
          <Fragment slot="tech">
            <TechIconWrapper title="Hashnode"><HashnodeSVG /></TechIconWrapper>
          </Fragment>
          <div slot="content" class="prose dark:prose-invert text-lg mt-6">
            <p>
              I took up writing as a means to further my understanding of
              topics. My blog was the reason I got the opportunity to interview
              for my first role and to this date I have more than 110,000
              pageviews across all articles.
            </p>
            <p>
              You can <a href="/blog" class="font-medium text-l-secondary"
                >visit my blog here</a
              >
            </p>
          </div>
        </SkillsCard>
      </section>
      <EndOfFeed />
    </div>
  </main>
  <SocialLinkFloatingBar client:load />
</Layout>
