---
import Layout from "@layouts/Layout.astro";
import { SocialLinkFloatingBar } from "@components/navigation/SocialLinkFloatingBar";
import PageTitle from "@layouts/PageTitle.astro";
import TechIconWrapper from "@components/skills/TechIconWrapper.astro";
import SkillsCard from "@components/skills/SkillsCard.astro";
import {
  ReactSVG,
  TailwindSVG,
  GraphqlSVG,
  NextjsSVG,
  JavaScriptSVG,
  AWSLambdaSVG,
  CypressSVG,
  MongoDBSVG,
  GitSVG,
  JestSVG,
  CloudflareSVG,
  AstroSVG,
  HashnodeSVG,
  NodejsSVG,
  FigmaSVG,
  LinearSVG,
  SQLSVG,
} from "@components/icons/index";
import StatusCard from "@components/skills/StatusCard.astro";
import { JOB_DATE, JOB_DESCRIPTION, JOB_TITLE } from "@utils/consts";
---

<Layout
  title="Skills & Experience | Kieran Roberts"
  description="My name is Kieran and I'm a JavaScript developer with multiple years worth of experience. Come check out my skills here."
  url="kieranroberts.dev/skills"
>
  <main class="px-8 md:px-16 py-16 w-full flex flex-col">
    <PageTitle>My skills & experience</PageTitle>
    <div class="max-w-[1000px] mx-auto">
      <h2 class="font-header text-3xl text-left my-8">Current Employment</h2>
      <section class="mb-16">
        <StatusCard
          date={JOB_DATE}
          title={JOB_TITLE}
          description={JOB_DESCRIPTION}
        />
        <div class="prose sm:prose-lg dark:prose-invert mt-6">
          <ul
            class="sm:prose-lg prose dark:prose-invert text-black dark:text-white"
          >
            <li>
              Working closely with the design team to build accessible and
              interactive UI's for the product, powering a component library.
            </li>
            <li>
              Building full stack features from the ground up, through from
              concept to conception. Working across UI/UX, AWS based
              infrastructure, and public/internal GraphQL API's.
            </li>
            <li>
              Code review, internal documentation, product testing, issue
              crafting, and writing for our blogs are all part of the day to day
              activities.
            </li>
          </ul>
        </div>
      </section>
      <h2 class="font-header text-3xl text-left my-12">Technical skills</h2>
      <section class="flex flex-col gap-8">
        <SkillsCard title="Frontend UI/UX">
          <Fragment slot="tech">
            <TechIconWrapper title="JavaScript"
              ><JavaScriptSVG /></TechIconWrapper
            >
            <TechIconWrapper title="React"><ReactSVG /></TechIconWrapper>

            <TechIconWrapper title="TailwindCSS"
              ><TailwindSVG /></TechIconWrapper
            >
            <TechIconWrapper title="Astro"><AstroSVG /></TechIconWrapper>
            <TechIconWrapper title="Figma"><FigmaSVG /></TechIconWrapper>
          </Fragment>
          <div slot="content" class="prose dark:prose-invert sm:prose-lg mt-6">
            <p>
              My speciality is highly interactive, responsive, and accessible
              UI/UX. Having worked closely with design teams and product
              managers, I have developed a keen eye for a smooth user
              experience.
            </p>

            <h3>Example</h3>
            <p>
              Take the main navigation header on site as an example. As you
              scroll down the nav hides itself, but imediately comes into view
              when you scroll back up. This was designed to offer the following
              user experience:
            </p>
            <ul>
              <li>
                Removing itself from view offers the full screen visibility to
                view content. Important for a site focused around content
                consumption.
              </li>
              <li>
                The navigation links header call to actions and nav items are
                never far away, no need to scroll back to the top of the page to
                perform some action.
              </li>
              <li>
                The navbar translate is also optional providing an accessible
                solution. If a user has set the prefers reduce motion option in
                their system to true, the navbar will remain fixed to the top.
              </li>
            </ul>
          </div>
        </SkillsCard>
        <SkillsCard title="Serverless backend">
          <Fragment slot="tech">
            <span
              title="Next.js"
              class="block w-10 h-10 bg-white rounded-full overflow-hidden border transform transition-all duration-150 hover:scale-105 hover:opacity-100"
            >
              <NextjsSVG />
            </span>

            <TechIconWrapper title="AWS Lambda"
              ><AWSLambdaSVG /></TechIconWrapper
            >
            <TechIconWrapper title="Cloudflare"
              ><CloudflareSVG /></TechIconWrapper
            >
          </Fragment>
          <div slot="content" class="prose dark:prose-invert sm:prose-lg mt-6">
            <p>
              I have many years worth of experience working with tech stacks
              that make use of serverless offerings utilizing infrastructure
              such <span class="font-medium">Amazon Web Services (AWS)</span>,
              <span class="font-medium">Vercel</span>, and <span
                class="font-medium">Cloudflare</span
              >.
            </p>
            <p>
              The <a href="/contact">contact form</a> on this site is powered using
              some of these offerings as I didn't feel the need to reach for an 'out
              of the box' form/email solution. Instead, I connected a few serverless
              offerings like <span class="font-medium">AWS Lambda</span>, <span
                class="font-medium">AWS API Gateway</span
              >, <span class="font-medium">AWS Simple Email Serivce (SES)</span>
              and <span class="font-medium">Clourdflare Turnstile</span> to make
              it happen.
            </p>
          </div>
        </SkillsCard>
        <SkillsCard title="Testing tools">
          <Fragment slot="tech">
            <span
              title="Cypress"
              class="block w-10 h-10 bg-white rounded-full overflow-hidden border transform transition-all duration-150 hover:scale-105 hover:opacity-100"
            >
              <CypressSVG />
            </span>

            <TechIconWrapper title="Jest"><JestSVG /></TechIconWrapper>
          </Fragment>
          <div slot="content" class="prose dark:prose-invert sm:prose-lg mt-6">
            <p>
              Testing is a critical part of software development and I've
              managed to aquire plenty of experience with different forms of
              product/backend testing and tools. For example:
            </p>
            <ul>
              <li>
                Product end to end (E2E) testing with <span class="font-medium"
                  >Cypress</span
                > in both local environments and in <span class="font-medium"
                  >Continous Integration (CI)</span
                > environments primarily with <span class="font-medium"
                  >GitHub Actions</span
                >.
              </li>
              <li>
                Unit testing in both product frontend and API and infrastructure
                based backends primarily with <span class="font-medium"
                  >Jest</span
                >.
              </li>
            </ul>
          </div>
        </SkillsCard>
        <SkillsCard title="API's & Databases">
          <Fragment slot="tech">
            <TechIconWrapper title="SQL"><SQLSVG /></TechIconWrapper>
            <TechIconWrapper title="NodeJS"><NodejsSVG /></TechIconWrapper>
            <TechIconWrapper title="GraphQL"><GraphqlSVG /></TechIconWrapper>
            <TechIconWrapper title="MongoDB"><MongoDBSVG /></TechIconWrapper>
          </Fragment>
          <div slot="content" class="prose dark:prose-invert sm:prose-lg mt-6">
            <p>
              Experience working with both relational and non-relational
              databases, developing both public and internal API's that interact
              with these databases.
            </p>
            <h3>Example</h3>
            <p>
              Check out the <a
                target="_blank"
                rel="noreferrer"
                href="https://gql.hashnode.com/"
                aria-label="Hashnode public GraphQL API, opens in new tab"
                class="font-medium text-l-secondary"
                >Hashnode public GraphQL API</a
              > which offers an expanding range of quries and mutations. I have had
              the opportunity to build a few of the mutations on offer here.
            </p>
          </div>
        </SkillsCard>
      </section>
      <h2 class="font-header text-4xl text-left my-12">Soft Skills</h2>
      <section class="flex flex-col gap-8">
        <SkillsCard title="Communication">
          <div slot="content" class="prose dark:prose-invert sm:prose-lg mt-6">
            <p>
              If there's one thing my experience working remotely has taught me,
              is that communication is king. As part of a fully remote team at a
              fast moving startup, if you didn't communicate well you would end
              up behind.
            </p>
            <ul>
              <li>
                I like to keep things simple and straight to the point. Clear
                and concise.
              </li>
              <li>
                Ask questions often and early on to avoid issues down the line.
              </li>
              <li>Better to over communicate than under communicate.</li>
              <li>
                Writing articles has helped develop my text communication which
                is critical when working for a fully async remote team.
              </li>
            </ul>
          </div>
        </SkillsCard>
        <SkillsCard title="Code review">
          <Fragment slot="tech">
            <TechIconWrapper title="Git"><GitSVG /></TechIconWrapper>
          </Fragment>
          <div slot="content" class="prose dark:prose-invert sm:prose-lg mt-6">
            <p>
              I have extensive experience reviewing code that goes live to
              thousands of active users. Here are some of the things I practice
              when reviewing code.
            </p>

            <ul>
              <li>Understand the expectations before heading in to review.</li>
              <li>
                Ask helpful open ended questions and phrase things in a clear
                but friendly tone.
              </li>
              <li>
                Avoid string opinionated statements where possible and suggest
                alternatives.
              </li>
              <li>Be empathetic to the person writing the code.</li>
              <li>Always be open to learning something.</li>
            </ul>
          </div>
        </SkillsCard>
        <SkillsCard title="Organisation">
          <Fragment slot="tech">
            <span
              title="Linear"
              class="block w-10 h-10 bg-white rounded-full overflow-hidden border transform transition-all duration-150 hover:scale-105 hover:opacity-100"
            >
              <LinearSVG />
            </span>
          </Fragment>
          <div slot="content" class="prose dark:prose-invert sm:prose-lg mt-6">
            <p>
              Having personal and team organisation is essential for success.
              Personally I'm always creating personal to-do lists to keep my
              focus on what's important when new things are always popping up.
            </p>
            <p>
              This organisation should extend to the team level. I'm experienced
              in using various project tracking tools such as
              <span class="font-medium">Linear</span> and <span
                class="font-medium">Jira</span
              > to create and develop issues/stories and projects. Also note taking
              tools like <span class="font-medium">Notion</span> to share notes and
              create internal documentation.
            </p>
          </div>
        </SkillsCard>
        <SkillsCard title="Time Management">
          <div slot="content" class="prose dark:prose-invert sm:prose-lg mt-6">
            <p>
              Good time management as a remote developer is crucial and I like
              to think that's something I do well having worked with fast moving
              teams on time barred projects.
            </p>
            <p>
              Being time conscious is crucial for being able to estimate
              correctly and work to that estimation. I often write out personal
              to-do lists for myself (alongside issue/projects to-dos) to help
              stick to timelines and keep focus.
            </p>
          </div>
        </SkillsCard>
        <SkillsCard title="Technical writing">
          <Fragment slot="tech">
            <TechIconWrapper title="Hashnode"><HashnodeSVG /></TechIconWrapper>
          </Fragment>
          <div slot="content" class="prose dark:prose-invert sm:prose-lg mt-6">
            <p>
              I took up writing as a means to further my understanding of topics
              and share what I learned with others in a similar position to me.
              My blog was the reason I got the opportunity to interview for my
              first role, and to this date, I have more than 110,000 pageviews
              across all articles.
            </p>
            <p>
              You can <a href="/blog" class="font-medium text-l-secondary"
                >find my blog here</a
              >
            </p>
          </div>
        </SkillsCard>
      </section>
      <!-- <EndOfFeed /> -->
    </div>
  </main>
  <SocialLinkFloatingBar client:load />
</Layout>
