---
import { Icon } from 'astro-icon/components';
import { LINKEDIN_PROFILE_URL } from '@config/consts/urls';
import Button from '@shared/components/base/Button.astro';
import Signature from './Signature.astro';
---

<div class="relative flex flex-col items-center gap-4 lg:items-start">
	<div class="z-10 mb-8 flex flex-col gap-8">
		<h1
			class="font-heading animate-in fade-in mx-auto max-w-[450px] text-center text-4xl font-bold tracking-tight text-zinc-950 duration-300 ease-in sm:max-w-[600px] sm:text-6xl lg:mx-0 lg:max-w-[850px] lg:text-7xl 2xl:max-w-[1000px] 2xl:text-[85px] dark:text-zinc-50"
		>
			I turn complex web <span class="dark:text-accent-brightest text-accent-darkest">problems</span
			> into lightning fast business
			<span class="dark:text-accent-bright text-accent-dark">solutions.</span>
		</h1>
		<p
			class="animate-in fade-in slide-in-from-top mx-auto max-w-[90%] text-center text-sm tracking-tight text-zinc-700 duration-300 ease-in sm:text-base md:max-w-[625px] md:text-lg dark:text-zinc-200"
		>
			I am a Frontend Engineer with several years of experience building in React and TypeScript
			ecosystems. With a passion for building interactive UI's and delivering an exceptional UX, I
			create fast and accessible web products that last.
		</p>
		<div class="flex flex-col items-center justify-center gap-4 sm:flex-row">
			<!-- <Button
				as="a"
				href="/CV-Kieran-Roberts.pdf"
				target="_blank"
				download="/CV-Kieran-Roberts.pdf"
				aria-label="Download CV and view PDF (opens in new tab)"
			>
				Download my CV
				<Icon
					name="download-circle"
					width={20}
					height={20}
					class="group-hover:text-accent-brightest dark:group-hover:text-accent-darkest stroke-current text-white transition-transform duration-200 group-hover:translate-y-1 dark:text-black"
				/>
			</Button> -->
			<Button as="a" href={LINKEDIN_PROFILE_URL} target="_blank">
				Find me on LinkedIn
				<Icon
					name="linked-in"
					width={16}
					height={16}
					class="group-hover:text-accent-brightest dark:group-hover:text-accent-darkest stroke-current text-white transition-transform duration-200 group-hover:translate-x-1 dark:text-black"
				/>
			</Button>
		</div>
		<div class="mx-auto text-zinc-600 dark:text-zinc-400">
			<Signature height={60} />
		</div>
	</div>
</div>
