---
import { Icon } from 'astro-icon/components';
---

<script>
	import { setupIconTranslate } from '@shared/scripts/icon-translate';

	setupIconTranslate({ svgId: 'hero-illustration' });
</script>

<div id="hero-illustration" class="absolute inset-0 z-0 hidden h-full w-full lg:block">
	<Icon name="hero" width="100%" height="100%" />
</div>
