---
import type { ComponentProps } from 'astro/types';

import SEO from '@shared/components/SEO.astro';
import Header from '@shared/layouts/Header.astro';
import Footer from '@shared/layouts/Footer.astro';
import Button from '@shared/components/base/Button.astro';
import { DEFAULT_SEO_TITLE, DEFAULT_SEO_DESCRIPTION } from '@config/consts';
import '@shared/styles/main.css';

type Props = ComponentProps<typeof SEO> & {
	showFooter?: boolean;
};

const DEFAULT_TITLE = DEFAULT_SEO_TITLE;
const DEFAULT_DESCRIPTION = DEFAULT_SEO_DESCRIPTION;

const {
	title = DEFAULT_TITLE,
	description = DEFAULT_DESCRIPTION,
	ogImage,
	showFooter = true,
	url,
} = Astro.props;
---

<html
	style={{
		scrollBehavior: 'smooth',
	}}
	lang="en"
>
	<SEO {title} {description} {url} {ogImage} />
	<body
		style={{
			scrollBehavior: 'smooth',
		}}
		class="bg-white dark:bg-zinc-800 dark:text-zinc-50"
	>
		<Button
			class="pointer-events-none absolute top-6 right-1/2 left-1/2 z-[9999] m-auto hidden h-max -translate-x-1/2 opacity-0 transition-opacity focus:pointer-events-auto focus:opacity-100 lg:flex"
			as="a"
			href="#main"
		>
			Skip to main content
		</Button>
		<Header />
		<main id="main">
			<slot />
		</main>
		{showFooter ? <Footer /> : null}
	</body>
</html>
