---
import { Icon } from 'astro-icon/components';

interface Props {
	href: string;
	label: string;
	iconName: string;
}

const { href, label, iconName } = Astro.props;
---

<a
	{href}
	target="_blank"
	rel="noreferrer"
	class="link-focus group flex items-center gap-1 rounded-md text-zinc-600 outline-none hover:text-zinc-900 dark:text-zinc-300 dark:hover:text-zinc-50"
>
	<span class="hidden md:block">{label}</span>
	<span class="md:hidden"><Icon name={iconName} width="20" height="20" /></span>
</a>
