---
import BlogCard from '@features/blog/components/BlogCard.astro';

import { getCollection, getEntries } from 'astro:content';
const posts = await getCollection('blog');

// const sortedPosts = posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
	{
		posts.map(({ data: post }) => (
			<BlogCard
				title={post.title}
				description={post.seoDescription}
				date={post.datePublished.toISOString()}
				link={post.slug}
				image={post.cover || ''}
			/>
		))
	}
</div>
