---
import BlogCard from '@features/blog/components/BlogCard.astro';
import { type CollectionEntry } from 'astro:content';

interface Props {
	posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
	{
		posts.map(({ data: post }) => (
			<BlogCard
				title={post.title}
				description={post.seoDescription}
				date={post.datePublished.toISOString()}
				link={post.slug}
				image={post.cover || ''}
			/>
		))
	}
</div>
