---
import { Icon } from 'astro-icon/components';
---

<script>
	import { setupIconTranslate } from '@shared/scripts/icon-translate';

	setupIconTranslate({ svgId: 'blog-illustration' });
</script>

<div id="blog-illustration" class="absolute top-0 right-0 z-1 hidden h-full w-3/5 lg:block">
	<Icon name="hero-blog" width="100%" height="100%" />
</div>
