---

---

<div
	class="prose prose-zinc prose-base dark:prose-invert prose-h1:font-bold prose-blockquote:border-accent-darkest prose-blockquote:border-l-2 dark:prose-blockquote:border-accent-brightest prose-h1:text-xl prose-a:underline prose-a:font-semibold prose-p:text-justify prose-img:rounded-xl prose-headings:text-zinc-900 dark:prose-headings:text-zinc-100"
>
	<slot />
</div>
