---
import { Icon } from 'astro-icon/components';

const { title } = Astro.props;

const url = Astro.url.href;
---

<div class="flex flex-col items-start gap-2">
	<span class="text-base font-semibold text-zinc-800 dark:text-zinc-200">Share:</span>
	<a
		class="group flex items-center gap-2 text-[14px]"
		href={`https://www.linkedin.com/shareArticle?mini=true&url=${encodeURIComponent(url)}&title=${encodeURIComponent(title)}`}
		target="_blank"
	>
		<Icon
			name="linked-in"
			width={16}
			height={16}
			class="group-hover:text-accent-darkest dark:group-hover:text-accent-brightest text-zinc-800 transition-transform duration-200 group-hover:-translate-x-1 dark:text-zinc-100"
		/>
		LinkedIn
	</a>
</div>
