---
import { HeroCTA } from '@modules/landing/HeroCTA';
import { HeroTitle } from '@modules/landing/HeroTitle';
import { HeroCopy } from '@modules/landing/HeroCopy';
---

<div class="flex flex-col items-center lg:items-start gap-4">
	<div class="flex flex-col gap-8 mb-8">
		<HeroTitle client:load />
		<HeroCopy client:load />
		<HeroCTA client:load />
	</div>
</div>
