---
import cn from "clsx";

import { HeroCTA } from "@modules/landing/HeroCTA";
---

<section
  class={cn(
    "relative mx-4 md:mx-8 lg:mx-16 bg-l dark:bg-d"
    // "bg-[url('/hashnode-dashboard-light.png')] dark:bg-[url('/hashnode-dashboard-dark.png')] bg-cover",
  )}
>
  <div
    class="absolute inset-0 bg-gradient-to-t from-l/100 via-l/75 to-l/100 dark:from-d/100 dark:via-d/75 dark:to-d/100"
  >
  </div>
  <div
    class={cn(
      "relative flex flex-col items-end justify-center h-[calc(100vh-65px)]"
    )}
  >
    <div class="flex flex-col items-start gap-4">
      <div class="relative left-12">
        <div
          class="flex items-center bg-accent-dark dark:bg-accent-brightest justify-center border-2 border-d dark:border-l h-32 w-32 rounded-full overflow-hidden"
        >
          <img
            src="/Kieran-Avatar.webp"
            alt="Kieran Roberts header picture"
            width={128}
            height={128}
            loading="eager"
          />
        </div>
        <!-- <div
          class="absolute left-1/2 -translate-x-1/2 -bottom-1 border-2 border-l dark:border-d w-max text-center bg-d dark:bg-l text-l dark:text-d rounded-lg px-3 py-1 whitespace-nowrap text-xs sm:text-sm"
        >
          Software developer{" "}
          <a
            href="https://hashnode.com"
            target="_blank"
            rel="noreferrer"
            class="text-l dark:text-d rounded-md font-semibold outline-none focus-visible:ring focus-visible:ring-offset-d dark:focus-visible:ring-offset-l focus-visible:ring-offset-2 focus-visible:ring-accent-brightest dark:focus-visible:ring-accent-darkest"
          >
            @Hashnode
          </a>
        </div> -->
      </div>

      <div class="flex flex-col gap-8 mb-8">
        <h1
          class="max-w-[450px] md:max-w-[550px] bg-gradient-to-r from-black/95 via-accent-darkest to-black/75 dark:from-white/95 dark:via-accent-brightest dark:to-white/75 bg-clip-text text-transparent font-sans text-3xl font-semibold tracking-tight md:text-5xl"
        >
          Turning complex web <br />
          problems into lightning-fast business solutions.
        </h1>

        <p
          class="text-base tracking-tight sm:text-xl text-zinc-600 dark:text-zinc-300 max-w-[450px] md:max-w-[450px]"
        >
          At my core I am a problem solver and my passion is in UI & UX. With
          multiple years worth of industry experience, I build products for the
          web that last.
        </p>

        <HeroCTA client:load />
      </div>
    </div>
  </div>
</section>
