---
import { HeroCTA } from '@modules/landing/HeroCTA';
import { HeroTitle } from '@modules/landing/HeroTitle';
import { HeroCopy } from '@modules/landing/HeroCopy';
---

<div>
  <div class="relative flex flex-col items-center lg:items-start gap-4">
    <div class="z-10 flex flex-col gap-8 mb-8">
      <HeroTitle client:load />
      <HeroCopy client:load />
      <HeroCTA client:load />
    </div>
  </div>
</div>
