---
import cn from "clsx";

import { HeroCTA } from "@modules/landing/HeroCTA";
---

<section
  class={cn(
    "flex flex-col items-center justify-center relative h-full mx-4 mt-8 md:mx-8 lg:mx-16 bg-l dark:bg-d min-h-[calc(100vh-199px)]",
    "bg-[url('/hashnode-dashboard-light.png')] dark:bg-[url('/hashnode-dashboard-dark.png')] bg-cover"
  )}
>
  <div
    class="absolute inset-0 bg-gradient-to-t from-l/100 via-l/85 to-l/100 dark:from-d/100 dark:via-d/85 dark:to-d/100"
  >
  </div>
  <div
    class={cn(
      "relative flex flex-col lg:flex-row-reverse gap-8 items-center justify-center h-full"
    )}
  >
    <div class="relative">
      <div
        class="flex items-center bg-accent-dark dark:bg-accent-brightest justify-center border-d dark:border-l h-40 w-40 lg:h-64 lg:w-64 rounded-full overflow-hidden"
      >
        <img
          src="/Kieran-Avatar.webp"
          alt="Kieran Roberts header picture"
          width={256}
          height={256}
          loading="eager"
        />
      </div>
      <div
        class="absolute left-1/2 -translate-x-1/2 -bottom-1 border-2 border-l dark:border-d w-max text-center bg-d dark:bg-l text-l dark:text-d rounded-full px-4 py-1 lg:py-2 whitespace-nowrap text-sm lg:text-base"
      >
        Software developer{" "}
        <a
          href="https://hashnode.com"
          target="_blank"
          rel="noreferrer"
          class="text-l dark:text-d rounded-md font-semibold outline-none focus-visible:ring focus-visible:ring-offset-d dark:focus-visible:ring-offset-l focus-visible:ring-offset-2 focus-visible:ring-accent-brightest dark:focus-visible:ring-accent-darkest"
        >
          @Hashnode
        </a>
      </div>
    </div>
    <div class="flex flex-col items-center lg:items-start gap-4">
      <div class="flex flex-col gap-8 mb-8">
        <h1
          class="max-w-[450px] sm:max-w-[550px] lg:max-w-[650px] text-center lg:text-left bg-gradient-to-r from-black/95 via-accent-darkest to-black/75 dark:from-white/95 dark:via-accent-brightest dark:to-white/75 bg-clip-text text-transparent font-sans text-3xl sm:text-5xl lg:text-6xl font-semibold tracking-tight"
        >
          Turning complex web <br />
          problems into lightning-fast business solutions.
        </h1>

        <p
          class="text-base text-center lg:text-left tracking-tight sm:text-xl text-zinc-600 dark:text-zinc-300 max-w-[450px] mx-auto lg:mx-0"
        >
          At my core I am a problem solver and my passion is in UI & UX. With
          multiple years worth of industry experience, I build products for the
          web that last.
        </p>

        <HeroCTA client:load />
      </div>
    </div>
  </div>
</section>
