---
import cn from "clsx";

import { HeroCTA } from "@modules/landing/HeroCTA";
---

<section
  class={cn(
    "flex flex-col items-center justify-center relative h-full mx-4 mt-8 md:mx-8 lg:mx-16 bg-l dark:bg-d min-h-[calc(100vh-199px)]",
    "bg-[url('/hashnode-dashboard-light.png')] dark:bg-[url('/hashnode-dashboard-dark.png')] bg-cover"
  )}
>
  <div
    class="absolute inset-0 bg-gradient-to-t from-l/100 via-l/85 to-l/100 dark:from-d/100 dark:via-d/85 dark:to-d/100"
  >
  </div>
  <div
    class={cn(
      "relative flex flex-col lg:flex-row-reverse gap-8 items-center justify-center h-full"
    )}
  >
    <div class="relative">
      <div
        class="relative flex items-center bg-l dark:bg-d justify-center h-40 w-40 lg:h-64 lg:w-64 rounded-full"
      >
        <img
          src="/Kieran-Avatar.webp"
          alt="Kieran Roberts header picture"
          width={256}
          height={256}
          loading="eager"
          class="opacity-75 hover:opacity-100 hover:scale-105 transition-all duration-300"
        />
      </div>
      <div
        class="absolute left-1/2 -translate-x-1/2 -bottom-2 w-max text-center bg-l dark:bg-d text-zinc-500 dark:text-zinc-400 px-4 py-1 lg:py-4 whitespace-nowrap text-sm lg:text-base"
      >
        Software developer{" "}
        <a
          href="https://hashnode.com"
          target="_blank"
          rel="noreferrer"
          class="text-zinc-500 dark:text-zinc-400 hover:text-zinc-800 dark:hover:text-zinc-200 cursor-pointer rounded-md font-semibold outline-none link-focus"
        >
          @Hashnode
        </a>
      </div>
    </div>
    <div class="flex flex-col items-center lg:items-start gap-4">
      <div class="flex flex-col gap-8 mb-8">
        <h1
          class="font-heading tracking-tight font-semibold max-w-[450px] sm:max-w-[550px] lg:max-w-[675px] text-center lg:text-left bg-gradient-to-r from-black/95 via-black/80 to-black/75 dark:from-white/95 dark:via-white/80 dark:to-white/75 bg-clip-text text-transparent text-3xl sm:text-5xl lg:text-6xl"
        >
          Turning complex web <br />
          problems into lightning fast business solutions.
        </h1>

        <p
          class="text-base text-center lg:text-left tracking-tight sm:text-xl text-zinc-600 dark:text-zinc-300 max-w-[550px] mx-auto lg:mx-0"
        >
          I am a problem solver with a passion for building interactive UI's and
          delivering a top UX. With multiple years worth of industry experience,
          I build fast & accessible products for the web that last.
        </p>

        <HeroCTA client:load />
      </div>
    </div>
  </div>
</section>
