---
import cn from "clsx";

import { HeroCTA } from "@modules/landing/HeroCTA";
---

<section
  class={cn(
    "relative mx-4 md:mx-8 lg:mx-16 bg-l dark:bg-d bg-[url('/hashnode-dashboard-light.png')] dark:bg-[url('/hashnode-dashboard-dark.png')] bg-no-repeat bg-[top_bottom] bg-cover"
  )}
>
  <div
    class="absolute inset-0 bg-gradient-to-t from-l/100 via-l/75 to-l/100 dark:from-d/100 dark:via-d/75 dark:to-d/100"
  >
  </div>
  <div
    class={cn(
      "relative flex flex-col items-end justify-center h-[calc(100vh-65px)]"
    )}
  >
    <div class="flex flex-col items-start gap-4">
      <div class="relative left-12">
        <div
          class="flex items-center bg-accent-dark dark:bg-accent-brightest justify-center border-2 border-d dark:border-l h-32 w-32 rounded-full overflow-hidden"
        >
          <img
            src="/avatar.png"
            alt="Kieran Roberts header picture"
            width={128}
            height={128}
            loading="eager"
          />
        </div>
        <div
          class="absolute left-1/2 -translate-x-1/2 bottom-0 border-2 border-l dark:border-d w-max text-center bg-d dark:bg-l text-l dark:text-d rounded-lg px-4 py-1.5 whitespace-nowrap text-xs"
        >
          Software developer{" "}
          <a
            href="https://hashnode.com"
            target="_blank"
            rel="noreferrer"
            class="text-l/80 dark:text-d/80 hover:text-l dark:hover:text-d font-semibold link-focus"
          >
            @Hashnode
          </a>
        </div>
      </div>

      <div class="flex flex-col gap-2 mb-8">
        <h1
          class="max-w-[450px] md:max-w-[650px] bg-gradient-to-r from-black/95 via-black/80 to-black/75 dark:from-white/95 dark:via-white/80 dark:to-white/75 bg-clip-text text-transparent font-sans text-3xl font-semibold tracking-tight md:text-6xl"
        >
          Turning complex web <br />
          problems into lightning-fast business solutions.
        </h1>

        <p
          class="text-2xl text-zinc-600 dark:text-zinc-400 max-w-[450px] md:max-w-[650px]"
        >
          At my core I am a problem solver. I build things for the web to
          satisfy that need and my passion is UI/UX. Let's connect.
        </p>
      </div>

      <HeroCTA client:load />
    </div>
  </div>
</section>
