---
import ProjectCard from '@modules/landing/ProjectCard.astro';
import { projects } from '@consts/index';
---

<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
	{projects.map((project) => <ProjectCard {...project} />)}
</div>
