---
import { DOMAIN_NAME } from "@consts/urls";
---

<footer
  class="border-t dark:border-zinc-900 max-w-[1600px] mx-auto px-4 md:px-8 lg:px-16 py-6"
>
  <div
    class="flex flex-col gap-1 items-center text-zinc-600 dark:text-zinc-300"
  >
    <a href="/" class="text-sm font-medium hover:text-d dark:hover:text-l">
      {DOMAIN_NAME}
    </a>
    <div class="text-center text-xs">Design & build by me.</div>
  </div>
</footer>
