---
import { DOMAIN_NAME } from '@consts/urls';
import { Socials } from '@components/Socials';
---

<footer class="bg-zinc-50 dark:bg-zinc-900 border-t dark:border-zinc-800">
  <div class="max-w-[1400px] mx-auto gap-8 py-4 2xl:py-8 px-4 md:px-16 lg:px-24">
    <div
      class="flex flex-col w-full sm:flex-row sm:justify-between gap-4 items-center text-zinc-600 dark:text-zinc-300"
    >
      <div class="flex flex-col gap-1">
        <a
          href="/"
          class="text-lg font-medium hover:text-d dark:hover:text-l link-focus rounded-md"
        >
          {DOMAIN_NAME}
        </a>
        <div class="text-center text-sm">Design & build by Kieran.</div>
      </div>
      <Socials />
    </div>
  </div>
</footer>
