---
import { Image } from 'astro:assets';

import Button from '@components/base/Button.astro';
import SocialLinkGroup from '@components/SocialLinkGroup.astro';
import KieranAvatar from '@images/Kieran-Avatar.webp';
import ThemeToggleAstro from '@components/ThemeToggle.astro';
import { EMAIL_ADDRESS } from '@consts/index';
import { StickyHeader } from '@components/StickyHeader';
---

<StickyHeader client:load>
	<nav
		class="mx-auto flex h-[60px] max-w-[1250px] items-center justify-between gap-x-4 rounded-full border border-zinc-200 bg-zinc-50 px-4 py-3.5 shadow-[0px_148px_41px_0px_rgba(0,0,0,0.00),0px_94px_38px_0px_rgba(0,0,0,0.00),0px_53px_32px_0px_rgba(0,0,0,-0.01),0px_24px_24px_0px_rgba(0,0,0,0.02),0px_6px_13px_0px_rgba(0,0,0,0.02)] backdrop-blur-xl backdrop-opacity-90 dark:border-zinc-800 dark:bg-zinc-900 md:px-16 lg:px-24"
	>
		<Button
			class="pointer-events-none absolute inset-0 m-auto hidden h-max opacity-0 transition-opacity focus:pointer-events-auto focus:opacity-100 lg:flex"
			as="a"
			href="#main"
		>
			Skip to content
		</Button>
		<section class="flex min-w-0 max-w-[275px] flex-1 items-center gap-2">
			<div class="relative flex h-10 w-10 items-center justify-center rounded-full bg-l dark:bg-d">
				<a href="/" class="link-focus rounded-full">
					<Image
						src={KieranAvatar}
						alt="Kieran Roberts header picture"
						width={40}
						height={40}
						loading="eager"
					/>
				</a>
			</div>
			<a
				class="link-focus block w-full cursor-pointer truncate rounded-md text-sm text-zinc-600 underline hover:text-zinc-900 dark:text-zinc-300 dark:hover:text-zinc-100 sm:text-base"
				href={`mailto:${EMAIL_ADDRESS}`}
			>
				{EMAIL_ADDRESS}
			</a>
		</section>

		<section class="flex items-center gap-x-4 md:gap-x-12">
			<SocialLinkGroup />
			<ThemeToggleAstro />
		</section>
	</nav>
</StickyHeader>
