---
import type { ComponentProps } from "astro/types";
import SEO from "@components/SEO.astro";
import { Header } from "@layouts/Header";
import Footer from "@layouts/Footer.astro";

type Props = ComponentProps<typeof SEO> & {
  showFooter?: boolean;
};

const DEFAULT_TITLE = "Kieran Roberts | Software Developer";
const DEFAULT_DESCRIPTION =
  "Hi, I'm a React & TypeScript focused web developer with multiple years worth of industry experience. Let's talk";
const DEFAULT_URL = "kieranroberts.dev";

const {
  title = DEFAULT_TITLE,
  description = DEFAULT_DESCRIPTION,
  url = DEFAULT_URL,
  showFooter = true,
} = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
---

<html
  style={{
    scrollBehavior: "smooth",
  }}
  lang="en"
>
  <SEO title={title} description={description} url={url} />
  <body
    style={{
      scrollBehavior: "smooth",
    }}
    class="mx-auto max-w-[1600px] bg-[#faf8f7] dark:bg-[#100114] dark:text-white"
  >
    <Header client:load pathname={pathname} />
    <slot />
    {showFooter ? <Footer /> : null}
  </body>
</html>
